html, body {
    background-color: white;
}

.gui-wrapper {
    width: 960px;
    margin: 0 auto;
}

.state-view {
    display: inline-block;
    font-family: monospace;
    width: 500px;
}

.state-view .register-view {
    display: block;
    margin: 0 0 16px 0;
}

.state-view .register-view .reg-family {
    display: block;
    margin: 0 0 4px 0;
}

.state-view .register-view .reg {
    display: inline-block;
    margin: 0 8px 0 0;
}

.assemble-form {
    display: inline-block;
    margin: 0 0 0 32px;
}

.assemble-form textarea {
    height: 550px;
    width: 400px;
    display: block;
}

.assemble-form .buttons {
    display: block;
}

.assemble-form .buttons button {
    display: inline-block;
}
